body{
    margin-bottom: 40px;
}
.beige-font{
    color: #f5eec2;
}
button{
    background-color: #214E34;
    color:#f5eec2;
}
button:disabled{
    background-color: #b9d8c2;
    color:#214E34;
}
.container{
    max-width: 95%;
}
.centered{
   text-align: center;
   margin: 0 auto;
}
.centered47{
    margin-left:46%;
}
.flash-msg{
    background-image: url('../img/gold_scale2.png');
}
.footer {
    background: linear-gradient(to left, #214E34, #5C7457);
    height: 40px;
}
.form-control:focus, .form-select:focus{
    box-shadow: 0 0 0 0.2rem #92bc88 !important;
    border-color: #92bc88;
    background-color: #214E34; /* is it dumb to have the text input change to gree, too?*/
    color: #f5eec2;
}

.form-select, .form-control{
    border-color: #92bc88;
}

h1{
    color:#315545;
}
h3{
    color:#396746;
}
h6{
    color: #415A3F;
}

#map, #coinMap{
    height: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#money-growth{
    background-image: url('../img/wavy-dots.png');
}
.navbar {
    background: linear-gradient(to left, #5C7457, #214E34);
    color:#f5eec2;
}

.navbar-light .navbar-toggler {
    color:#f5eec2;
    border-color: #f5eec2;
}
.navbar-light .navbar-toggler-icon{
    background-image: url('../img/hamburger_icon.png');
}
.navbar-light .navbar-nav .nav-link{
    color: #f5eec2;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #92bc88;
}
p, .p-color{
    color: #3B5442;
}
.right-align{
    /* margin: 0 auto; */
    padding:5px;
    text-align: right;
}
.size-small{
    font-size: 12px;
}
.top-margin{
    margin-top: 10px;
}
