{% extends "base.html"%}
{%block title%} Coin Entry {%endblock%}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-umd-min.js"></script>
    <script src="../static/js/map.js" type="text/javascript"></script>
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=coinMap"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&libraries=places"></script> -->
{%endblock%}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class = "col-12">
                <h4>Hello, {{ session['fname'] }}.</h4>
                <h4>Interested in logging some money today?</h4>
            </div>
        </div>
                <form action="coin_entry" method="POST" class="row g-3">
                    <div class="col-6">
                        Date (Leave blank if today): <input type="date" name="date" class="form-control">
                        Address: <input type="text" name="places_api" id="places_api" class="form-control">
                        Location Name: <input type="text" name="locname" class="form-control">
                    </div>
                    <div class="col-6">
                        Amount: <input type="number" name="amount" step="0.001" min="0" class="form-control">
                        Money Year: <input type="number" name="money_year" class="form-control">
                        Money Type: <input type="text" name="money_type" class="form-control">
                        Missed: <input type="radio" name="missed" value="y"><label>Yes</label>
                        <input type="radio" name="missed" value="n"><label>No</label>

                    </div>
                    <div class="col-12">
                        <input class="form-control" type="submit">
                    </div>
                </form>

               
        <div class="row">
            <div class="col-12">
                <div id="coinMap">

                </div>
            </div>

        </div>
    </div>
{% endblock %}