{% extends 'base.html'%}
{%block title%} Dashboard {%endblock%}

{% block body %}
Dashboard Page

<div class='container-fluid'>
    <div class='row'>
        <div class='col-3'>
            Grand Total: {{ total_found + total_missed}}
            <br>
            You Found: {{ total_found }} 
            <br>
            You Missed: {{ total_missed }}
            <br>
            A daily Average: {{ day_avg }}
            <br>
            Most Freq Money Yeay: {{ money_years }}

        </div>
        <div class='col-9'>
            A GRAPH OR TWO HERE
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            Wowza, a map!
        </div>
    </div>

</div>
{% endblock %}
