{% extends "base.html"%}
{% block title %} Dashboard {% endblock %}
{% block head %}
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-umd-min.js"></script> -->
    <script src="../static/js/charts.js" type="text/javascript"></script>
    <script src="../static/js/map.js" type="text/javascript"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap"></script>
{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="centered">A Tale of Two Cents</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="centered">Filter Your Tale</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="/dashboard">
                <div class="row">
                    <div class="col">
                        <label class="form-label">Year</label>
                        <select class="form-select" name="years">
                            <option value="All" class="year">All Years</option>
                            {% for year in years_list %}
                                <option value={{year}} class="year">{{year}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>                
                <div class="row">
                    <div class="col">
                        <label class="form-label">Status</label>
                        <select class="form-select" name="missed">
                            <option value="both" class="missed">Both Missed & Found</option>
                            <option value="found" class="missed">Found</option>
                            <option value="missed" class="missed">Missed</option>
                          
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input class="form-control top-margin" type="submit">
                    </div>
                </div>
                    
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if missed == None %}

            <h3><span id="year">{{year}}</span> Years Info for <span id="missed">Missed and Found Money</span></h3>

            {% elif missed == "both" %}

                <h3><span id="year">{{year}}</span> Info for <span id="missed">Missed and Found Money</span></h3>

            {% elif missed == "found" %}
                <h3><span id="year">{{year}}</span> Info for <span id="missed">Found Money</span></h3>
        
            {% elif missed == "missed" %}
                <h3><span id="year">{{year}}</span> Info for <span id="missed">Missed Money</span></h3>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            Grand Total: {{ "$%.2f"|format(total_found + total_missed)}}
        </div>
        <div class="col-3">
            You Found: {{ "$%.2f"|format(total_found) }} 
        </div>
        <div class="col-3">
            You Missed: {{ "$%.2f"|format(total_missed) }} 
        </div>
        <div class="col-3">
            {% if day_avg == 'N/A' %}
                A Daily Average: {{day_avg}}
            {% else %}
                A daily Average: {{ "$%.3f"|format(day_avg) }}
            {% endif %}
        </div>

    </div>
    <div class="row">
            <div class="col-12">
                <h3>Most Frequents</h3>
            </div>
    </div>
    {% if missed != 'missed'%}
    <div class="row">
        <div class="col-4">
            {% if money_type == "N/A" %}
                Coin/Bill <li>{{money_type}}</li>
            {%else%}
                Coin/Bill {%for money in money_type %} <li>{{money}}</li> {%endfor%}
            {%endif%}
            Coin/Bill Count <li>{{type_count}}</li>
        </div>
        <div class="col-4">
            {% if money_year == 'N/A' %}
                Coin/Bill <li>{{money_year}}</li>
            {%else%}
                Coin/Bill Year {% for mon_year in money_year%} <li>{{mon_year}}</li> {%endfor%}
            {%endif%}
            Coin/Bill Year Count <li>{{money_count}}</li>
        </div>
        <div class="col-4">
            Day of the Week {%for day in dow%} <li>{{day}}</li> {%endfor%}
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-6">
            {% if money_type == "N/A" %}
                Coin/Bill <li>{{money_type}}</li>
            {%else%}
                Coin/Bill {%for money in money_type %} <li>{{money}}</li> {%endfor%}
            {%endif%}
            Coin/Bill Count <li>{{type_count}}</li>
        </div>

        <div class="col-6">
            {% if dow =='N/A'%}
                Day of the Week <li>{{dow}}</li>
            {%else%}
                Day of the Week {%for day in dow%} <li>{{day}}</li> {%endfor%}
            {%endif%}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-6">
            <canvas id="stackedbar"></canvas>
        </div>
    <!-- </div>

    <div class="row"> -->
        <div class="col-6">
            <div id="map">
        </div>
    </div>
</div>
{% endblock %}
