{% extends 'base.html'%}
{%block title%} Log In {%endblock%}

{% block body %}
<div class="container">
    <div class="row">
        <div class = "col-lg-6 col-xs-12">
            <h1 class="centered">Log In</h1>
            <form action = '/user_login' method = 'POST'>
                <div class="row">
                    <div class="col">
                        <p class="centered">Email:</p><input type="text" class="form-control" name='email' autofocus="autofocus" required></input>
                        
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <p class="centered">Password:</p><input type=password class="form-control" name='password' required></input>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="submit" class="form-control top-margin p-color submit" value="Log In">
                    </div>
                </div>
                
                
            </form>
        </div>
        <div class = "col-lg-6 col-xs-12">
            <h1 class="centered">Create An Account</h1>
                <form action='/create_account' method='POST'>
                    <div class="row">
                        <div class="col">
                            <p class="centered">First Name:</p><input type="text" class="form-control" name='fname' required></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="centered">Last Name:</p><input type="text" class="form-control" name='lname' required></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="centered">Email:</p><input type="text" class="form-control" name='email' required></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="centered">Password:</p><input class="form-control" type=password name='password' required></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-control top-margin p-color submit" type="submit" value="Create Account">
                        </div>
                    </div>

                </form>
        </div>
    </div>
</div>



{% endblock %}