{% extends "base.html"%}
{%block title%} Update User {%endblock%}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Update Your Account</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Current info: {{user.fname}} {{user.lname}} 
        </div>
    </div>
    <form action = '/update_account' method = 'POST' class="row">
        <div class="col-6">
            Update Name:
            <div class="row">
                <div class="col">
                    First Name<input type=text, name='fname' class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Last Name<input type=text, name='lname' class="form-control">
                </div>
            </div>
        </div>
        <div class="col-6">
            Update Password:
            <div class="row">
                <div class="col">
                    Current Password<input type=password name='cur_pass' class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    New Password<input type=password name='new_pass' class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="submit" class="form-control top-margin">
            </div>
        </div>
        
    </form>
</div>




{% endblock %}